<header>
   <div>
     <img src="assets/bg.jpg" alt="background"  class="background">
   </div>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Transactions</a></li>

        </ul>
      </nav>
      <h2>Banking made easy</h2>
     <p>A simple interface to transfer money with your peers and people...</p>
     <button>Transfer Now</button>
</header>
<main>
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-4" *ngFor="let a of custarray">
       <div class="card   mt-2" style="width: 18rem;">
         <div class="card-body">
           <h5 class="card-title">{{a.name | uppercase}}</h5>
            <button type="button" class="btn btn-danger " data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="view(a)">View Details</button>
         </div>
       </div>
      </div>
    </div>
  </div>

</main>
<br>
<br>
<br>
<div class="modal" tabindex="-1" id="exampleModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-secondary">{{cust.name | uppercase}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="badge bg-primary text-white">Balance:  {{cust.balance}}</p><br>
        <p class="badge bg-warning text-white">City:  {{cust.city}}</p><br>
        <p class="badge bg-warning text-white">email:  {{cust.email}}</p>
      </div>
      <div class="modal-body" *ngIf="display">
        <h5>Select a payee:</h5>
        <div class="form-group">
          <select id="dropdown" class="form-control" [(ngModel)]="payee">
            <option  value="#">--select--</option>
            <option  *ngFor="let a of users" [value]="a" >{{a}}</option>
          </select>
         
        </div>
        <h5>Fund :</h5>
        <div class="form-group">
          <input type="number" [(ngModel)]="bal" class="form-control" max="">
        </div>
        <br>
        <button class="btn btn-success" (click)="finish(cust.balance)">Pay</button>
        <p *ngIf="msg" class="text-secondary">{{msg}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="display=false;msg=null;bal=0">Close</button>
        <button type="button" class="btn btn-primary" (click)="showpayee()" [disabled]="display">Transfer Now</button>
      </div>
    </div>
  </div>
</div>